.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    width: 1200px;
    max-width: 100dvw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2 0 0;
}

.commands {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}

.link {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modeButton {
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    min-width: 10ch;
}

.searchButton {
    min-width: 10ch;
}

.divider {
    width: 2px;
    min-width: 2px;
    height: 20px;
    background-color: #656565;
}

@media (max-width: 600px) {
    .footer {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
        flex-direction: column;
        gap: 2rem;
    }

    .divider {
        display: none;
    }

    .list {
        width: 100%;
        box-sizing: border-box;
    }

    .commands {
        width: 100%;
        box-sizing: border-box;
    }
}
